<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Pragra">
    <parameter name="url" value="https://zoom.us"></parameter>
    <listeners>
        <listener class-name="SampleListener"></listener>
    </listeners>
    <test parallel="methods" name="sample">
        <classes>
            <class name="CalculatorTest">

            </class>
        </classes>
    </test>
</suite>